.chatWindow{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  
 
}
.chatWindow--header{
  height: 60px;
  border-bottom: 1px solid #CCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.chatWindow--headerInfo{
  display: flex;
  align-items: center;
  cursor: pointer;  
}

.chatWindow--headerbuttons{
display: flex;
justify-content: flex-end;
transform: scale(0.8);
margin-left: 28px;

}  

.chatWindow--btn{
  color: #54585B;
  margin-right: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chatWindow--avatar{
width: 40px;
height: 40px;
border-radius: 50px 50px;
cursor: pointer;
margin-left: 18px;
margin-right: 18px;
}

.chatWindow--name{
  font-size: 17px;
  color: black;
}

.chatWindow--box{
  width: 252px;   
}

/*video no 1:47:00h*/