.chatWindow{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  
 
}
.chatWindow--header{
  height: 60px;
  border-bottom: 1px solid #CCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.chatWindow--headerInfo{
  display: flex;
  align-items: center;
  cursor: pointer;  
}

.chatWindow--headerbuttons{
display: flex;
justify-content: flex-end;
transform: scale(0.8);
margin-left: 28px;

}  

.chatWindow--btn{
  
  color: #54585B;
  margin-right: 28px;
   
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all ease 0.3s;
}

.chatWindow--btnChange{
  color: #54585B;
  margin-right: 85px; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  overflow: hidden;
  transition: all ease 0.3s;
}

.chatWindow--avatar{
width: 40px;
height: 40px;
border-radius: 50px 50px;
cursor: pointer;
margin-left: 18px;
margin-right: 18px;
}

.chatWindow--name{
  font-size: 17px;
  color: black;
}

.chatWindow--box{
  width: 252px;   
}

.chatWindow--body{
  max-width: 94%;
  flex: 1;
  overflow-y: auto;
  background-color: #ffffff;
  background-size: 60%;
  background-position: top;
  background-image: url('https://raw.githubusercontent.com/CoreyTattooArt/whatsappclone/master/src/img/whatsappBckgrnd2.jpg');  
  padding: 20px 50px 0px 30px;
}

.chatWindow--footer{
  height: 62px;
  display: flex;
  align-items: center;
}

.chatWindow--pre{ 
  display: flex;
  justify-content: space-evenly;
  margin-right: -15px;
  margin-left: 0px;
}

.chatWindow--pos{
  padding-left: -20px;
  display: flex;
   
}

 

#sendBtn{
  margin-left:  0px;
  margin-right: -25px;
}

.chatWindow--inputArea{
flex: 1;
}

.chatWindow--input{
   
  width: 85%;
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 25px 25px ;
  background-color: #FFF;
  font-size: 15px;
  color: #4a4a4a;
  padding-left: 15px;
}

.chatWindow--input::placeholder{
  padding-left: 3px;
  font-size: 15px;
  color: #00000069;
}

.chatWindow--emojiArea{
  
  width: 91.5%;
  height: 200px;
  overflow-y: hidden;
  transition: all ease 0.5s;
}
/*abaixo as configs do picker*/
.chatWindow--emojiArea aside.emoji-picker-react{
  background-color: #EDEDED;
  width: auto; 
  overflow-y: auto;
  box-sizing: border-box;
}

.chatWindow--emojiArea aside nav {
  background-color: none;
}

.chatWindow--emojiArea div.content-wrapper::before {
  background-color: none;
}

.chatWindow--emojiArea ul.emoji-group::before {
  background-color: #EDEDED;
}